.card .album-image {
    transition: filter 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    /* opacity: 1; */
  }

  .card:hover .album-image {
    filter: grayscale(100%);
    opacity: 0.6
  }

  .card .buy-button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  .card:hover .buy-button {
    opacity: 1;
  }

  .buy-button:hover{
    background-color: blue;
  }

#hiddenModalToggler {
  display: none;
}

#toTheTopBtn{
  position: absolute;
  right: 16px;
  bottom: 16px;
}

#orders{
  transition: all 0.3s ease-in-out;
}

#orders:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.alert {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}